.App {
  text-align: center;
}

.title {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* title */
.title__head1 {
  font-size: 6rem;
  color: white;
  padding: 40px 10px 40px 20px;
  font-family: Montserrat;
  text-decoration: none;
}
.title__head1__link {
  text-decoration: none;
}

/* registerpanel */
.RegisterAndLoginPanel {
  display: flex;
  width: 40%;
  justify-content: space-around;
}

.RegisterAndLoginPanel__loginlink,
.RegisterAndLoginPanel__registerlink {
  color: rgb(24, 18, 17);
  font-size: 2.5rem;
  font-weight: 600;
}
/* welcome panel */

.welcomeandsignout {
  display: flex;
  width: 40%;
  flex-direction: column;
  padding-right: 30px;
  align-items: flex-end;
}

.welcomeandsignout__greeting {
  font-size: 2rem;
  color: black;
  font-weight: 600;
}
.welcomeandsignout__signout {
  color: rgb(24, 18, 17);
  font-size: 2.5rem;
  font-weight: 600;
  text-decoration: underline;
}

/* topiclist */
.topiclist {
  border: 2px solid #373b44;
  text-align: center;
  background: white;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}

.Collapsible {
  color: #4286f4;
}

.topiclist__ul {
  width: 100%;
}

.topiclist__ul__topiccard_link {
  text-decoration: none;
}

.topiclist__ul__topiccard {
  border: 0.5px solid #373b44;
  transition: 0.3s all ease-in-out;
}

.topiclist__ul__topiccard:hover {
  background: #373b44;
  cursor: pointer;
}

/* Collapsible */
.Collapsible__contentOuter {
  width: 100vw;
}

span.Collapsible__trigger.is-closed,
span.Collapsible__trigger.is-open {
  display: inline-block;
  width: 100%;

  font-size: 3rem;
  font-weight: 1200;
  color: black;
  transition: 0.3s all ease-in-out;
}

span.Collapsible__trigger.is-closed:hover,
span.Collapsible__trigger.is-open:hover {
  color: white;
  background: #373b44;
}

.topiclist__ul__topiccard:hover .opiclist__ul__topiccard_h1 {
  color: white;
  font-weight: 500;

  width: 100%;
}

.opiclist__ul__topiccard_h1 {
  text-transform: uppercase;
  color: black;
  font-weight: 400;
  font-size: 4rem;
  width: 100%;
}

.topiclist__addTopic {
  border: 0.5px solid #373b44;
  transition: 0.3s all ease-in-out;
}

.topiclist__addTopicButton--text {
  font-size: 2rem;
  background: none;
  border: none;
  font-weight: 400;
  text-transform: uppercase;
}

.topiclist__addTopic:hover {
  background: #373b44;

  cursor: pointer;
}

.topiclist__addTopic:hover .topiclist__addTopicButton--text {
  color: white;

  padding: 1px;
}

/* topicpage */
.topicpage__prefertopic {
  width: 100%;
  margin: 100px auto 50px auto;
  font-size: 5rem;
  text-align: center;
  font-weight: 900;
  display: block;
}

.topicpage__ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  overflow: scroll;
  max-height: 1200px;
}

.topicpage__ul__topiccard {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8dc26f,
    #76b852
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8dc26f,
    #76b852
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 50vw;
  max-width: 400px;
  min-width: 200px;
  border: none;
  border-radius: 20px;
  margin: 10px;
  height: 400px;
  text-align: center;
  transition: 0.5s all ease-in-out;
  display: grid;
  grid-template: 30% 70% / auto;
  grid-template-areas: "topic" "description";
  overflow: scroll;
}

.topicpage__ul__topiccard:hover {
  transform: scale(1.1, 1.1);
}

.topicpage__ul__topiccard_h1 {
  text-transform: uppercase;
  font-size: 3rem;
  grid-area: topic;
  display: block;
  margin: auto;
  font-weight: 600;
  color: white;
}

.opiclist__ul__topiccard_p {
  grid-area: description;
  font-size: 2rem;
  display: block;
  color: white;
  margin: auto;
}

.topicpage__addTopicButton {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8dc26f,
    #76b852
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8dc26f,
    #76b852
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 400px;
  width: 40vw;
  border: none;
  display: block;

  font-size: 15rem;
  border-radius: 20px;
  margin: 10px;
  color: white;
}

.topicpage__straightin {
  font-size: 5rem;
  text-decoration: underline;
  color: red;
  margin: 50px 0;
  width: 100%;
  text-align: center;
}

/* articles info panel: topic, total count*/

.articleslistblock__topicinfo {
  background: rgb(208, 198, 198);
  padding: 2sem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.articleslistblock__title {
  font-size: 3rem;
}

.articleslistblock__count {
  font-size: 2rem;
  display: block;
  text-align: center;
}

/* ConditionQuery */
.articleslistblock__conditionblock {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 30px 0;
  padding-right: 20px;
}
.articleslistblock__orderbutton {
  margin: 0 5px;
}

..articleslistblock__sortbydropdown {
  margin: 0 5px;
}
/* article list */

.articleslistblock {
  margin-top: 5px;
}

.articlecard {
  background: white;
  margin: 10px 0;
  border-top: 5px whitesmoke solid;
  padding: 30px 0;

  display: grid;
  grid-template: auto auto 2rem /50% 50%;
  grid-template-areas: "articletitle articletitle" "author date" "author votes";
}

.articlecard__h1 {
  grid-area: articletitle;
  margin: 0 20px;

  text-align: left;
  padding: 0 0 20px 0;
}

.articlecard__h1__link {
  font-size: 2.5rem;
  line-height: 1.5rem;
  color: black;
  text-decoration: underline;
  font-family: Poppins;
  font-weight: 600;
}

.articlecard__h1__link:hover {
  color: blue;
  cursor: pointer;
}

.articlecard__author {
  grid-area: author;
  font-size: 1.5rem;
  align-self: center;
  text-align: center;
  font-weight: 600;
}

.articlecard__createdat {
  grid-area: date;
  font-size: 1.5rem;
  text-align: end;
  padding-right: 10px;
}

.articlecard__votes {
  grid-area: votes;
  font-size: 1.5rem;
  text-align: end;
  padding-right: 10px;
}

/* singlearticle */
.articlePage__singlearticle {
  margin-top: 20px;
  padding: 0 20px 20px 20px;
  background-color: white;
  border-bottom: whitesmoke 20px solid;
}
.articlePage__singlearticle_title {
  font-size: 4rem;
  margin: 10px 0;
  padding-top: 10px;
}

.articlePage__singlearticle_infoblock {
  font-size: 2rem;
  margin: 20px 0;
}
.articlePage__singlearticle_infoblock p::before {
  content: "▶ ";
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  margin-right: 3px;
}

.articlePage__singlearticle_bodylock {
  text-align: justify;
  font-size: 2rem;
}

/* article votePanel */
.articlePage__singlearticle__votepanelblock {
  margin: 10px 0;
  text-align: right;
}

.articlePage__singlearticle__votepanelblock--bordermodifier {
  display: inline-block;
  border: 1px solid rgb(208, 198, 198);
  size: fit-content;
  height: fit-content;
}

.articlePage__singlearticle__votepanelblock__upvote,
.articlePage__singlearticle__votepanelblock__downvote {
  color: silver;
  background-color: transparent;
  border: none;
  height: fit-content;
  font-size: 3rem;
  padding: 0 10px;
  width: auto;
  transition: 0.3s all ease-in-out;
}

.articlePage__singlearticle__votepanelblock__upvote:hover,
.articlePage__singlearticle__votepanelblock__downvote:hover {
  background: tomato;
  cursor: pointer;
}

.articlePage__singlearticle__votepanelblock__votes {
  font-size: 3rem;
  margin: 0 10px;
  text-align: center;
  display: inline-block;
  width: fit-content;
}

/* comment block form */
.CommentsListBlock {
  padding: 20px;
}

.newcommentblock_form label {
  font-size: 3rem;
  font-weight: bold;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1000px;
}

.newcommentblock_form #newcomment {
  display: block;
  height: 15vw;
  width: 100%;
  overflow: scroll;
}

.newcommentblock_submitbutton {
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  height: fit-content;
  font-size: 4rem;
  border: none;
  color: white;
  font-weight: 600;
  max-width: 1000px;
}

.CommentsListBlock__commentcount {
  margin-top: 40px;
  text-align: end;
}

.listdisabled {
  overflow: hidden;
  height: 200px;
}

.articlePage__othercomments {
  border: 2px solid grey;
  text-align: center;
  border: none;
  width: 100%;

  height: 150px;
  font-size: 2rem;
  border-radius: 2rem;
  background-color: white;
  padding: 10px 0;
}

.articlePage__othercomments__button {
  top: 0;
  width: 100%;
  font-size: 3rem;
  color: rgb(66 103 178);
  background: white;
  height: 70px;
  text-decoration: none;
  font-weight: 600;
  border: 10px rgba(128 128 128 0.5) solid;
  border-radius: 2rem;
  transition: 0.3s all ease-in-out;
}

.articlePage__othercomments__button:hover {
  background: rgb(66 103 178);
  cursor: pointer;
  color: white;
}

/* comment block comment card */
.commentcard {
  border-top: rgb(147, 136, 136, 0.5) 5px solid;
  padding: 20px 0;
  display: grid;
  grid-template: auto auto auto/ 80% 20%;
  grid-template-areas: "authortime del" "commentcontent commentcontent" "votepanel votepanel";
}

.commentcard__authortime {
  grid-area: authortime;

  font-size: 2rem;
}
.commentcard__delbuttonblock {
  grid-area: del;

  text-align: end;
}

.commentcard__delbuttonblock__delbutton {
  font-size: 2rem;
  display: inline-block;
  color: green;
  text-decoration: underline;
  background-color: transparent;
  border: none;

  width: 50%;
  padding: 0 5px;
}

.commentcard__delbuttonblock__delbutton:hover {
  cursor: pointer;
  color: red;
}

.commentcard__body {
  grid-area: commentcontent;
  font-size: 2rem;
  font-style: italic;
}
.commentcard__votepanelblock {
  grid-area: votepanel;
  height: fit-content;
  text-align: right;
}
.commentcard__votepanelblock--bordermodifier {
  display: inline;
  float: right;
  text-align: center;
  width: 30%;
}

.commentcard__votepanelblock__upvote,
.commentcard__votepanelblock__downvote {
  color: silver;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  padding: 0 20px;
  width: auto;
  transition: 0.3s all ease-in-out;
}

.commentcard__votepanelblock__upvote:hover,
.commentcard__votepanelblock__downvote:hover {
  background: tomato;
  color: white;
  cursor: pointer;
}

.commentcard__votepanelblock__votes {
  margin: 0 10px;
  text-align: center;
  font-size: 2rem;
  display: inline-block;
  width: 20%;
}

.commentcard__err {
  color: red;
  font-size: 0.5em;
}

/* modifier */
.--ingrey {
  background: grey;
  opacity: 0.1;
  color: #373b44;
}

.--inservice {
  opacity: 0.7;
  background: rgb(66 103 178);
}

.--inservice:hover {
  cursor: pointer;
}

/* login page */

.loginblock {
  width: 100%;
  height: 100vh;
}
.loginblock__h1 {
  text-align: center;
}

.loginblock__form__title {
  background: #2b488c;
  background-color: -webkit-linear-gradient(to left, #4286f4, #373b44);
  background-color: linear-gradient(to left, #4286f4, #373b44);
  color: white;
  padding: 0 5px;
}

.loginblock__form {
  width: 100%;
  max-width: 450px;
  margin: 50px auto;
}

.loginblock__form__usernamelabel,
.loginblock__form__passwordlabel {
  font-size: 2rem;
}

.loginblock__registerlink {
  font-size: 1.5rem;
}

/* register page */
.registerform {
  width: 100%;
  max-width: 450px;
  margin: 50px auto;
}

.registerform__usernamelabel,
.registerform__passwordlabel,
.registerform__realnamelabel {
  font-size: 2rem;
}

/* new topic form */

.newtopicformblock {
  width: 100%;
}

.newtopicformblock__title {
  font-size: 4rem;
  text-align: center;
  margin: 40px auto 20px auto;
}
.newtopicformblock__newtopicform {
  max-width: 450px;
  margin: auto;
}
