.App {
  text-align: center;
}

.title {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* title */
.title__head1 {
  font-size: 5rem;
  color: white;
  padding-left: 5vw;
  font-family: Montserrat;
}

/* topiclist */

.topiclist {
  border: 2px solid #373b44;
  text-align: center;
  background: white;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}

.Collapsible {
  color: #4286f4;
}

.topiclist__ul {
  width: 100%;
}

.topiclist__ul__topiccard_link {
  text-decoration: none;
}

.topiclist__ul__topiccard {
  border: 0.5px solid #373b44;
  transition: 0.3s all ease-in-out;
}

.topiclist__ul__topiccard:hover {
  background: #373b44;
  cursor: pointer;
}

/* Collapsible */
.Collapsible__contentOuter {
  width: 100vw;
}

span.Collapsible__trigger.is-closed,
span.Collapsible__trigger.is-open {
  display: inline-block;
  width: 100%;
  font-size: 2rem;
  font-weight: 1200;
  color: black;
  transition: 0.3s all ease-in-out;
}

span.Collapsible__trigger.is-closed:hover,
span.Collapsible__trigger.is-open:hover {
  color: white;
  background: #373b44;
}

.topiclist__ul__topiccard:hover .opiclist__ul__topiccard_h1 {
  color: white;
  font-weight: 500;

  width: 100%;
}

.opiclist__ul__topiccard_h1 {
  text-transform: uppercase;
  color: black;
  font-weight: 400;
  font-size: 2rem;
  width: 100%;
}

.topiclist__addTopic {
  border: 0.5px solid #373b44;
  transition: 0.3s all ease-in-out;
}

.topiclist__addTopicButton--text {
  font-size: 2rem;
  background: none;
  border: none;
  font-weight: 400;
  text-transform: uppercase;
}

.topiclist__addTopic:hover {
  background: #373b44;

  cursor: pointer;
}

.topiclist__addTopic:hover .topiclist__addTopicButton--text {
  color: white;

  padding: 1px;
}

/* ConditionQuery */
.articleslistblock__conditionblock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.articleslistblock__conditionblock__label {
  font-size: 3rem;
}
.articleslistblock__conditionblock__order {
  font-size: 3rem;
  width: 20rem;
}

.articleslistblock__conditionblock__select {
  font-size: 3rem;
  width: 15rem;
}

.articleslistblock__conditionblock__select option {
  font-size: 1rem;
}

/* article list */

.articleslistblock {
  margin-top: 5px;
}

.articlecard {
  background: white;
  margin: 5px 0;
  padding: 5px;
  display: grid;
  grid-template: auto 2rem 2rem /50% 50%;
  grid-template-areas: "articletitle articletitle" "author date" "author votes";
}

.articlecard__h1 {
  grid-area: articletitle;
  margin: 0 20px;
  text-align: left;
  padding: 20px 0;
}

.articlecard__h1__link {
  text-decoration: none;
  font-size: 1em;
  line-height: 1.5em;
  color: black;
  font-family: Poppins;
  font-weight: 600;
}

.articlecard__h1__link:hover {
  color: blue;
  cursor: pointer;
}

.articlecard__author {
  grid-area: author;
  font-size: 0.5em;
  align-self: center;
  text-align: center;
  font-weight: 600;
}

.articlecard__createdat {
  grid-area: date;
  font-size: 0.5em;
  text-align: end;
  padding-right: 10px;
}

.articlecard__votes {
  grid-area: votes;
  font-size: 0.5em;
  text-align: end;
  padding-right: 10px;
}

/* singlearticle */
.articlePage__singlearticle {
  margin-top: 20px;
  padding: 0 20px 20px 20px;
  background-color: white;
  border-bottom: whitesmoke 5px solid;
}
.articlePage__singlearticle_title {
  font-size: 2rem;
  margin: 10px 0;
  padding-top: 10px;
}

.articlePage__singlearticle_infoblock {
  margin: 20px 0;
}
.articlePage__singlearticle_infoblock p::before {
  content: "▶ ";
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  margin-right: 3px;
}

.articlePage__singlearticle_bodylock {
  text-align: justify;
}

/* article votePanel */
.articlePage__singlearticle__votepanelblock {
  margin: 10px 0;
  text-align: right;
}

.articlePage__singlearticle__votepanelblock--bordermodifier {
  display: inline-block;
  border: 1px solid rgb(208, 198, 198);
  size: fit-content;
  height: fit-content;
}

.articlePage__singlearticle__votepanelblock__upvote,
.articlePage__singlearticle__votepanelblock__downvote {
  color: silver;
  background-color: transparent;
  border: none;
  height: fit-content;
  font-size: 3rem;
  padding: 0 10px;
  width: auto;
  transition: 0.3s all ease-in-out;
}

.articlePage__singlearticle__votepanelblock__upvote:hover,
.articlePage__singlearticle__votepanelblock__downvote:hover {
  background: tomato;
  cursor: pointer;
}

.articlePage__singlearticle__votepanelblock__votes {
  font-size: 3rem;
  margin: 0 10px;
  text-align: center;
  display: inline-block;
  width: fit-content;
}

/* comment block form */
.CommentsListBlock {
  padding: 20px;
}

.newcommentblock_form label {
  font-size: 3rem;
  font-weight: bold;

  flex-direction: column;
  flex-wrap: wrap;
  max-width: 768px;
}

.newcommentblock_form #newcomment {
  display: block;
  height: 15vw;
  width: 100%;
  overflow: scroll;
}

.newcommentblock_submitbutton {
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  height: fit-content;
  font-size: 4rem;
  border: none;
  color: white;
  font-weight: 600;
}

.CommentsListBlock__commentcount {
  margin-top: 40px;
  text-align: end;
}

/* comment block comment card */
.commentcard {
  border-top: rgba(245, 245, 245, 0.5) 2px solid;
  padding: 5px;
  display: grid;
  grid-template: auto auto auto/ 80% 20%;
  grid-template-areas: "authortime del" "commentcontent commentcontent" "votepanel votepanel";
}

.commentcard__authortime {
  grid-area: authortime;

  font-size: 0.8rem !important;
}
.commentcard__delbuttonblock {
  grid-area: del;
  text-align: end;
}

.commentcard__delbuttonblock__delbutton {
  font-size: 2rem;
  display: inline-block;
  color: green;
  text-decoration: underline;
  background-color: transparent;
  border: none;

  width: 50%;
  padding: 0 5px;
}

.commentcard__delbuttonblock__delbutton:hover {
  cursor: pointer;
  color: red;
}

.commentcard__body {
  grid-area: commentcontent;
  font-size: 0.8rem;
}
.commentcard__votepanelblock {
  grid-area: votepanel;
  height: fit-content;
  text-align: right;
}
.commentcard__votepanelblock--bordermodifier {
  display: inline;
  float: right;
  text-align: center;
  width: 30%;
}

.commentcard__votepanelblock__upvote,
.commentcard__votepanelblock__downvote {
  color: silver;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  padding: 0 20px;
  width: auto;
  transition: 0.3s all ease-in-out;
}

.commentcard__votepanelblock__upvote:hover,
.commentcard__votepanelblock__downvote:hover {
  background: tomato;
  color: white;
  cursor: pointer;
}

.commentcard__votepanelblock__votes {
  margin: 0 10px;
  text-align: center;
  font-size: 2rem;
  display: inline-block;
  width: 20%;
}

/* modifier */
.--ingrey {
  background: grey;
  opacity: 0.1;
  color: #373b44;
}

.--inservice {
  opacity: 0.7;
  background: rgb(66 103 178);
}

.--inservice:hover {
  cursor: pointer;
}
